
*{
    padding: 0;
    margin: 0;
}
body{
    background-image:url('bdy.gif');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    background-color: black;
    justify-content: end;
    text-align: center;
    color: white;
}
body>div{
    display: flex;
    flex-direction: column;
   
}
body>div>div{
    justify-items:baseline;
   
}

.content{
color: rgba(168, 218, 248, 0.882);
}

.talk{
    background-color: orchid;
    color: blanchedalmond;
    border-radius: 5px;
    padding: 9px;
}

#jarvis{
    text-align: center;
   align-content: center;
   align-self: center;
   align-items: center;
   padding-top:20vw;
   font-size:80px;
   font-weight: bolder;
   color: rgb(0, 255, 234);
}

#questions{
    display: flex;
    justify-content: center;
    align-items: center;
}
#questions>button{
    border: none;
    padding: 9px;
    margin: 9px;
    border-radius: 9px;
    background: #ef0000;
    color: #ffffff;
    cursor: pointer;
}
#questions>div{
    display: none;
    position: absolute;
    z-index: 9;
    color: #000;
    background-color: rgb(0, 255, 255);
    border-radius: 9px;
    padding: 100px 20px;
    /* height: 100vh; */
    text-align: start;

}
#questions>div>span{
   cursor: pointer;
}
